<main>

<h1>🎁 ¿Queres aportar tu granito de arena? 🎁</h1>

<p>Si es asi, te invitamos a apoyarnos con una pequeña contribución para que la aplicacion que estamos construyendo pueda seguir creciendo. Debajo podras encontrar los distintos productos que diseñamos para vos y podras adquirirlos a un precio muy accesible. <em>Gracias por formar parte de esto.♥♥♥</em>
</p>

<div class="productos">

  <article>
    <img src="/assets/images/GORRA MIOBSERVADOR.png" alt="">
    <p>Gorra 👒</p>
    <button>Comprar</button>
  </article>
  
  <article>
    <img src="/assets/images/LLAVERO MIOBSERVADOR.png" alt="">
    <p>Llavero 🔑</p>
    <button>Comprar</button>
  </article>
  
  <article>
    <img src="/assets/images/REMERA MIOBSERVADOR.png" alt="">
    <p>Remera 👕</p>
    <button>Comprar</button>
  </article>
  
</div>
</main>
