<main>

  <section class="contenedor-flex">
    <img src="assets/images/pexels-pixabay-33488.jpg" alt="Celular" class="col-12 col-lg-6 col-md-6">
    <p>Bienvenidos a <strong>MiObservador</strong>, un Sitio web y futura Aplicación Móvil
      en la cual queremos ayudar a la población de <a href="https://www.cordoba.gob.ar/" target="blank">Córdoba
        Capital</a> a reportar sobre cualquier <strong>Problemática Urbana</strong>.
    </p>
  </section>

  <section class="contenedor-flex">
    <p>Gracias a todo nuestro Software empleado y el uso de una <strong>Base de Datos</strong> <i></i>, usted podrá
      informar/reportar inconvenientes como: Cortes de calle, Accidentes viales, Reparaciones en la vía
      publica, etc.
    </p>
    <img src="assets/images/base-de-datos.jpg" alt="Base de Datos">
  </section>

  <section class="contenedor-flex">
    <img src="assets/images/pexels-thisisengineering-3861958.jpg" alt="Programacion">
    <p>Actualmente estamos en pleno <strong>Desarrollo</strong> por lo que en
      el transcurso de los meses vera como el <a href="https://github.com/PPROF1-2021/a4-g8-problematicaurbana"
        target="blank">Proyecto</a> sufre algunos cambios de mejora.</p>
  </section>

</main>