<h1>Formulario de registro</h1>
<h3>Por favor, complete con sus datos</h3>

<div class="submit-form">
  <!--<div *ngIf="!submitted">-->

  <form [formGroup]="formRegistro"  (ngSubmit)="onSubmit()"  novalidate>
    
    
      <h5>Nombre*</h5>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" required 
      [(ngModel)]="nuevaCuenta.nombre" name="nombre" 
      [ngClass]="{ 'is-invalid': submitted &&f['nombre'].errors }" >
      <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">
      <div *ngIf = "nombre?.errors?.['required']">
        <p>Ingrese su nombre</p>
        </div>
    </div>
   
   
       <h5>Apellido*</h5>
      <input type="text" class="form-control" id="apellido" formControlName="apellido" required 
      [(ngModel)]="nuevaCuenta.apellido" name="apellido"
      [ngClass]="{ 'is-invalid': submitted &&f['apellido'].errors }" >
      <div *ngIf="submitted && f['apellido'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">
      <div *ngIf = "apellido?.errors?.['required']">
        <p>Ingrese su apellido</p>
        </div>
    </div>
 
      <h5>Documento*</h5>
      <input type="text" class="form-control" id="documento" formControlName="documento" required 
      [(ngModel)]="nuevaCuenta.documento" name="documento"
      [ngClass]="{ 'is-invalid': submitted &&f['documento'].errors }" >
      <div *ngIf="submitted && f['apellido'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">
      <div *ngIf = "documento?.errors?.['required']">
        <p>Ingrese su documento</p>
        </div>
    </div>
  

      <h5>Fecha de Nacimiento</h5>
      <input type="date" class="form-control" id="fecha_nacimiento" formControlName="fechaNacimiento" required 
      [(ngModel)]="nuevaCuenta.fecha_nacimiento" name="fechaNacimiento"
      [ngClass]="{ 'is-invalid': submitted &&f['fechaNacimiento'].errors }">
      <div *ngIf="submitted && f['fechaNacimiento'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">      
      <div *ngIf = "fechaNacimiento?.errors?.['required']">
        <p>Ingrese una fecha válida</p>
      </div>
    </div>

   
      <h5>Domicilio</h5>
      <input type="text" class="form-control" id="domicilio" formControlName="domicilio" required 
      [(ngModel)]="nuevaCuenta.domicilio" name="domicilio"
      [ngClass]="{ 'is-invalid': submitted &&f['domicilio'].errors }" >
      <div *ngIf="submitted && f['domicilio'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">
      <div *ngIf = "domicilio?.errors?.['required']">
        <p>Ingrese un domicilio válido</p>
      </div>
    </div>
  
  
      <h5>Email*</h5>
      <input type="email" class="form-control" id="email" formControlName="email" required 
      [(ngModel)]="nuevaCuenta.email" name="email"
      [ngClass]="{ 'is-invalid': submitted &&f['email'].errors }" >
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">
      <div *ngIf = "email?.errors?.['required']">
      <p>Ingrese su correo electrónico</p>
      </div>
    </div>

  
      <h5>Confirmar Email*</h5>
      <input type="email" class="form-control" id="confirmaremail" formControlName="confirmarEmail" required 
      
      [ngClass]="{ 'is-invalid': submitted &&f['confirmarEmail'].errors }"/>
      <div *ngIf="submitted && f['confirmarEmail'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">
      <div *ngIf = "confirmarEmail?.errors?.['required']">
      <p>El correo electrónico no coincide con el ingresado</p>
      </div>
    </div>

      <h5>Contraseña*</h5>
      <input type="password" class="form-control" id="password" formControlName="password" required 
      [(ngModel)]="nuevaCuenta.password" name="password"
      [ngClass]="{ 'is-invalid': submitted &&f['password'].errors }"/>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">
      <div *ngIf = "password?.errors?.['required']">
      <p>Ingrese una contraseña válida</p>
      </div>
    </div>
 
   <!--[(ngModel)]="nuevaCuenta.password" name="confirmarpassword"-->
      <h5>Confirmar Contraseña*</h5>
      <input type="password" class="form-control" id="confirmarpassword" formControlName="confirmarPassword" required 
      
      [ngClass]="{ 'is-invalid': submitted &&f['confirmarPassword'].errors }"/>
      <div *ngIf="submitted && f['confirmarPassword'].errors" class="invalid-feedback" class="d-flex justify-content-center text-danger">
      <div *ngIf = "confirmarPassword?.errors?.['required']">
      <p>La contraseña no coincide con la ingresada</p>
      </div>
    </div>
  <div>
    <button type="submit" class="btn btn-success btn-block" (click)="saveCuenta()">Guardar</button>
  
  </div>
  <div *ngIf="submitted">
    <h4>Su cuenta se registró correctamente!</h4>
    <button class="btn btn-success" (click)="nuevaCuenta"></button>
  </div>

    </form>
