<main>

  <h1>🎁 ¿Do you want to help us grow? 🎁</h1>

  <p>If so, we invite you to support us with a small contribution so that the application we are building can continue
    to
    grow. Below you can find the different products that we design for you and you can purchase them at a very
    affordable
    price. <em>Thank you for being part of this.♥♥</em>
  </p>

  <div class="productos">

    <article>
      <img src="/assets/images/GORRA MIOBSERVADOR.png" alt="">
      <p>Cap 👒</p>
      <button>Buy</button>
    </article>

    <article>
      <img src="/assets/images/LLAVERO MIOBSERVADOR.png" alt="">
      <p>Key Ring 🔑</p>
      <button>Buy</button>
    </article>

    <article>
      <img src="/assets/images/REMERA MIOBSERVADOR.png" alt="">
      <p>T-shirt 👕</p>
      <button>Buy</button>
    </article>

  </div>
</main>