/*TITULO DE REPORTES*/
h1{
  font-family:'Kant',sana-serif;
  margin-top: 1rem;
  text-align: center;
  text-shadow:2px 2px #ababab ;
  
}
/*BOTON DE ENVIO*/

  button{
    background-color: #FFB366;
border-radius: 10px;
border-color:#FFB366;
border-width: 1px;
font-family:'Kanit', sans-serif;
font-size: 150%;
font-weight: bold;
width: 25%;
height: 10%;
 }
p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;       
}

 