<main>

  <section class="contenedor-flex">
    <img src="assets/images/pexels-pixabay-33488.jpg" alt="Celular" class="col-12 col-lg-6 col-md-6">
    <p>Welcome to <strong>MiObservador</strong>, a Website and future Mobile Application in which we want to help the
      population of <a href="https://www.cordoba.gob.ar/" target="blank">Córdoba
        Capital</a> to report any <strong>Urban Problem</strong>.
    </p>
  </section>

  <section class="contenedor-flex">
    <p>Thanks to all our software and the use of a <strong>Data Base</strong> <i></i>,you will be able to inform/report
      inconveniences such as: Road closures, road accidents, repairs on public roads, etc.
    </p>
    <img src="assets/images/base-de-datos.jpg" alt="Base de Datos">
  </section>

  <section class="contenedor-flex">
    <img src="assets/images/pexels-thisisengineering-3861958.jpg" alt="Programacion">
    <p>We are currently in full <strong>Development</strong> so in the course of the months you will see how the <a href="https://github.com/PPROF2-2022ProgWeb/g08-aula2-problematicaurbana"
        target="blank">Proyect</a> undergoes some changes of improvement.</p>
  </section>

</main>