main{
  border: black bold 6px;
  margin: 5rem 4rem;
}

img{
  width: 400px;
  height: 350px;
  border-radius: 15%;
  border: orange bold 10px;
}

.contenedor-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

p{
  line-height: 2;
  font-family: 'Kanit', sans-serif;
  font-size: larger;
  background-color: rgba(220, 220, 220, 0.178);
}

p:nth-child(2n+1){
  margin-right: 3rem;
}

p:nth-child(2n){
  margin-left: 3rem;
}

@media (max-width:725px){

  main{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .contenedor-flex{
    flex-direction: column;
  }

  img{
    max-width: 100%;
    height: 240px;
   
  }

  p{
    font-size:medium;
    text-align: center;
  }

}


