 <nav class="navbar-expand-lg navbar-light bg-light" id="navegacion">..</nav>

<div class="container contenedor-principal border border-3" id="contenedor-principal">
  <div class="row d-flex justify-content-center h-100">

    <div class="card" id="encabezadoLogin">
      <div class="card-header">
        <h1>Reporte de incidentes</h1>
      </div>
    </div>
    <form form = "formIncident" id="reportsForm" (ngSubmit)="save($event)">
      
        <input class="form-check-input" type="radio" name="Accident" value="option1">
        <label class="form-check-label" for="inlineRadio1">Accidente vial</label>
        <td></td>
        <input class="form-check-input" type="radio" name="Repair" value="option2">
        <label class="form-check-label" for="inlineRadio2">Reparacion</label>
        <td></td>
        <input class="form-check-input" type="radio" name="Manifestation" value="option3">
        <label class="form-check-label" for="inlineRadio3">Manifestacion</label>
      
      
    <p><b>Ingrese la ubicacion del reporte en el mapa.</b></p>
  
    <iframe id="Map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d217893.00024305488!2d-64.33648905211236!3d-31.42574742052076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432985f478f5b69%3A0xb0a24f9a5366b092!2zQ8OzcmRvYmE!5e0!3m2!1ses-419!2sar!4v1631044981787!5m2!1ses-419!2sar"
      width="75%" height="25%" style="border:0;" allowfullscreen="" loading="lazy" class="mapa"></iframe>

      <button type="submit" class="btn btn-warning" onclick="mostrarAlerta()">Enviar</button>

    </form>




