/*titulo de reporte*/
h1{
  font-family: 'kanit',sans-serif ;
  margin-top: 1rem;
  text-align: center;
  text-shadow: 2px  2px #ABABAB;
}



/*boton de envio de reporte*/
  button{
    background-color: #ffb366;
border-radius: 10px;
border-color: #ffb366;
border-width: 1px;
font-family: 'kanit',sans-serif;
font-size:150%;
font-weight: bold;
width: 25%;
height: 10%;
display: block;
margin-top: 2rem;
margin-bottom: 4rem;
 }
p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;       
}

 