

<h1>Sign Up Form</h1>
<h3>Please, enter your personal data</h3>
      
<form form = "form" (ngSubmit)="save($event)">
 
  <p>
    First Name *<br/>
    <input type="text" formControlName="nombre">
  </p>
  <p>
    Last Name*<br/>
    <input type="text" formControlName="apellido">
  </p>
  <p>
    ID Card*<br/>
    <input type="text" formControlName="documento">
  </p>
  <p>
    Birth Date<br/>
    <input type="date" formControlName="fechaNacimiento">
  </p>
  
  <p>
    Email* <br/>
    <input type="email" formControlName="email">
  </p>
  <p>
    Confirm Email * <br/>
    <input type="email" formControlName="confirmarEmail">
  </p>
  <p>
    Password * (8 characters) <br/>
    <input type="password" formControlName="contrasenia">
  </p>
  <!--validacion de campo contrasenia. para el caso en el que se hya ingresado un valor o el mismo se encuentre vacio-->
  <div *ngIf="form.errors && form.touched">
    <p *ngIf="form.hasError('required')">
      Required field
    </p>
    <p *ngIf="form.hasError('maxlength')">
      The maximum is 8 characters.
    </p>
  </div>
  <p>
    Confirm Password *<br/>
    <input type="password" formControlName="confirmarContrasenia">
  </p>
  
  
  <p>
    <option type="selected" formControlName="ciudad">City</option>
    <select name="ciudad" ></select>  
    </p>
    
    <button type="submit" [disabled]="form.invalid">Save</button>  
</form>
