
<main>

<h1 id="titulo">Estamos aquí para ayudarte a que tu día a día en la ciudad sea mejor</h1>
<p id="texto">Mi Observador funciona por y para el ciudadano, por lo que si tenes una sugerencia o algun aporte
  será mas que bienvenido ♥
</p>

<br>

<img src="/assets/images/imgNosotros.png" alt="">

<br>

<p id="texto2"> Seguinos en nuestras redes sociales y comparti nuestra app para que llegue a mas personas
</p>

<footer>

  <h4 class="subtitulo"> Colaboradores </h4>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card">
        <img src="./assets/images/paul.jpg" class="card-img-top" alt="Marysel">
        <div class="card-body">
          <h5 class="card-title">Marysel Romero</h5>
          <p class="card-text">Estudiante en Instituto Superior Politécnico Córdoba.</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/pduarte94/" target="blank"><img src="./assets/images/linkedin.png" class="linkedin-img">
            </a>
              </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/images/salvador.jpg" class="card-img-top" alt="Salvador">
        <div class="card-body">
          <h5 class="card-title">Salvador Casas</h5>
          <p class="card-text">Estudiante en Instituto Superior Politécnico Córdoba.</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/salvador-casas" target="blank"><img src="./assets/images/linkedin.png" class="linkedin-img">
            </a>
              </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/images/marysel.jpg" class="card-img-top" alt="Marysel">
        <div class="card-body">
          <h5 class="card-title">Marysel Romero</h5>
          <p class="card-text">Estudiante en Instituto Superior Politécnico Córdoba.</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/maryselromero/" target="blank"><img src="./assets/images/linkedin.png" class="linkedin-img">
            </a>
              </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</main>
