
<main>
  <h1>MiObservador</h1>
  <h3>¿Cual es nuestro objetivo con esta aplicación?</h3>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/sustentable.jpg" class="img-fluid rounded-start" alt="sustentable">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Cuidado del medio ambiente</h5>
          <p class="card-text">Al hacer uso eficiente de combustible, se reducen las emisiones de gases y el consumo, esto es un aporte positivo</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/clock.png" class="img-fluid rounded-start" alt="tiempo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ahorro de tiempo y dinero</h5>
          <p class="card-text">La aplicación puede ayudarte a tomar los mejores caminos, lo que te permitirá ahorrar tiempo y dinero si estas conduciendo</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/stress.png" class="img-fluid rounded-start" alt="tiempo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Menor estres</h5>
          <p class="card-text">Evitar el embotellamiento te ayudará a poder desarrollar tu día con menor frustración</p>
        </div>
      </div>
    </div>
  </div>

<footer>

  <h4 class="subtitulo"> Colaboradores del proyecto</h4>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card">
        <img src="./assets/images/paul.jpg" class="card-img-top" alt="Marysel">
        <div class="card-body">
          <h5 class="card-title">Marysel Romero</h5>
          <p class="card-text">Estudiante en Instituto Superior Politécnico Córdoba.</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/pduarte94/" target="blank"><img src="./assets/images/linkedin.png" class="linkedin-img">
            </a>
              </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/images/salvador.jpg" class="card-img-top" alt="Salvador">
        <div class="card-body">
          <h5 class="card-title">Salvador Casas</h5>
          <p class="card-text">Estudiante en Instituto Superior Politécnico Córdoba.</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/salvador-casas" target="blank"><img src="./assets/images/linkedin.png" class="linkedin-img">
            </a>
              </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/images/marysel.jpg" class="card-img-top" alt="Marysel">
        <div class="card-body">
          <h5 class="card-title">Marysel Romero</h5>
          <p class="card-text">Estudiante en Instituto Superior Politécnico Córdoba.</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/maryselromero/" target="blank"><img src="./assets/images/linkedin.png" class="linkedin-img">
            </a>
              </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</main>
