main{
    background-image: url(https://cdn.pixabay.com/photo/2021/03/30/03/06/hands-6135743_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /*background-size: 100rem;*/
    /*height: 800px;*/
    /*display: flex;/*
    /*flex-direction: column;
    justify-content: center;*/
    align-items: center;
  }

.card-img-top{

  text-align: center;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 55px;
}

.card{
  width: 90%;
  margin: 10px auto;
  margin-bottom: 35px;
  margin-top: 30px;
  background-color: rgba(226, 226, 226, 0.87);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
}

.card-text{
  font-weight: bold !important;
}

.subtitulo, .card-body, .card-tittle, .card-text{
  text-align:center;

}

.linkedin-img{
  width:64px;
  height: 64px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
}

.card-img{
  width: 1000px;
  height: 500px;
}

.subtitulo{
  color: #ff9100;
  text-shadow: 2px 2px 2px black;
}

.img-fluid{
  height: 100%;
}

h1, h3{
  text-align: center;
  color:#ff9100;
  text-shadow: 2px 2px 2px black;
}
