<div class="container py-5" id="contenedor-principal"></div>
<div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto">

  <div class="card" id="encabezadoLogin">
    <div class="card-header">
      <h1>Le damos la Bienvenida</h1>
    </div>
  </div>


  <form id="login" class="needs-validation" method="POST" novalidate action="muestra-datos-login.php">
    <!--Ingreso de Email -->
    <div class="form-outline mb-4">
      <h6>Correo Electrónico *</h6>
      <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese correo electrónico"
        required>
      <div class="valid-feedback"></div>
      <div class="invalid-feedback">Dato requerido. Complete por favor.</div>
    </div>

    <!--Ingreso de Password -->
    <div class="form-outline mb-4">
      <h6>Contraseña *</h6>
      <div class="form-row">
        <input type="password" class="form-control" id="passwordLogin" name="passwordLogin"
          placeholder="Ingrese contraseña" required>
        <div class="input-group-text" onchange="verPasswordLogin()">
          <input id="verPasswordLogin" type="checkbox" /> Ver contraseña
        </div>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Dato requerido. Complete por favor.</div>
      </div>


      <a href="RecuperaPassword.html" class="linkPassword">Olvidé mi contraseña</a>
    </div>

    <div class="d-grid">
      <button type="submit" id="btn-login" class="btn btn-login">Iniciar
        sesión</button>

    </div>

    <!--
        onclick="redireccionEventos()"

        Seccion de login con otra cuenta 
      <div class="card" id="seccionOtraCuenta">
        <div class="card-header">
          <div class="container w-80 my-3">
            <div class="form-outline mb-4 justify-content-center">Iniciar sesión con otra cuenta</div>

            <div class="row">
              <button class="btn btn-outline-primary w-50 my-1">
                <div class="row align-items-center">
                  <div class="col-2">
                    <img src="images/facebook.ico" width="30" alt="">
                  </div>
                  <div class="col-8 text-center">Iniciar sesión con Facebook</div>
                </div>
              </button>

            </div>
            <div class="row">
              <button class="btn btn-outline-danger w-50 my-1">
                <div class="row align-items-center">
                  <div class="col-2">
                    <img src="images/google.ico" width="30" alt="">
                  </div>
                  <div class="col-8 text-center">Iniciar sesión con Google</div>
                </div>
              </button>

            </div>
            <input type="hidden" name="actions" id="actions" value="log">
            <input type="hidden" name="qry" id="qry" value="">

            <p class="mt-3">o <a href="formulario.php">Crear una cuenta</a></p>
          </div>
        </div>
        
      </div>
    </form>
    
  </div>
</div>
-->