<h1>Le damos la Bienvenida</h1>

<h2>Inicie sesión</h2>

<form [formGroup]="UsuarioForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="col-sm-4">
  <p id="text1">Correo Electrónico*</p>
</div>
    <input type="email" class="form-control" formControlName="email" id="email"  placeholder="Ingrese un correo electrónico"
        [ngClass]="{ 'is-invalid': submitted &&f['email'].errors }">
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback" class="col-sm-4 text-danger">
    <div *ngIf = "email?.errors?.['required']">
    <p>Se requiere un correo electrónico</p>
    <div *ngIf = "email?.errors?.['pattern']">
    <p>Correo electrónico inválido</p>
    </div>
    </div>
    </div>

    <div class="col-sm-4">
      <p id="text2">Contraseña *</p>
    </div>
    <input type="password" class="form-control" formControlName="password" id="password" placeholder="Ingrese una contraseña"
    [ngClass]="{ 'is-invalid': submitted &&f['password'].errors } " >

    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback" class="col-sm-4 text-danger" >
    <div *ngIf = "password?.errors?.['required']">
    <p>Se requiere una contraseña</p>
    <div *ngIf = "password?.errors?.['pattern']">
    <p>Contraseña incorrecta</p>

    </div>
    </div>
    </div>


    <button type="submit" class="btn btn-success btn-block" >Iniciar sesión</button>

 </form>



