

<h1>Le damos la Bienvenida</h1>

<h2>Inicie sesión</h2>

<form [formGroup]="UsuarioForm" (ngSubmit)="onSubmit()" novalidate>
    <p>   Correo Electrónico* <br/>
        
        <input type="email" class="form-control" formControlName="email" id="email"  placeholder="Ingrese un correo electrónico" 
        [ngClass]="{ 'is-invalid': submitted &&f['email'].errors }" > 
    </p>
    
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback"
    class="col-sm-3 text-danger">
   

    <div *ngIf = "email?.errors?.['required']">
       Se requiere correo electrónico
   

    <div *ngIf = "email?.errors?.['pattern']">
        Correo electrónico inválido
    </div></div> </div>
     
        <p>
        Contraseña *<br/>
        <input type="password" formControlName="contrasenia" formControlName="contrasenia" placeholder="Ingrese contreseña">
    </p>  
    
        <div *ngIf="submitted && f['contrasenia'].errors" class="invalid-feedback"
    class="col-sm-3 text-danger">

    <div *ngIf = "contrasenia?.errors?.['required']">
       Se requiere una contraseña
   

    <div *ngIf = "contrasenia?.errors?.['pattern']">
        Contraseña incorrecta
    </div></div> </div>

 
    <button type="submit" class="btn btn-success btn-block">Iniciar sesión</button>
    
    </form>



